@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

.add-timer-title {
  color: #6435C9;
  font-size: 18px;
  font-weight: 200;
}

.add-timer-button {
  min-height: 42px !important;
}

.icon-timer {
  display: block;
  margin-top: 30px;
  align-self: center;
}
