.add-timer-title {
  color: #6435C9;
  font-size: 18px;
  font-weight: 200;
}

.add-timer-button {
  min-height: 42px !important;
}

.card {
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-height: 220px !important;
}

.statistic {
  max-width: 100% !important;
}
